{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
<!--
 pk = post.pk 이란 무엇일까요?  pk 는 데이터베이스의 각 레코드를 식별하는 기본키(Prmiary Key)의 줄임말 입니다.
 Post 모델에서 기본키를 지정하지 않았기 때문에 장고는  pk 라는 필드를 추가해 새로운 블로그 게시물이 추가될 때마다
 그 값이 1,2,3 등으로 증가하게 됩니다. Post 객체의 다른 필드 (제목, 작성자 등)에 액세스하는 것과 같은 방식으로
 post.pk를 작성하여 기본 키에 액세스합니다  post.pk 를 써서 기본키에 접근할 수 있고 같은 방법으로
 Post 객체내 다른 필드( title ,  author )에도 접근할 수 있습니다!

 |linebreaksbr : 파이프 문자(|), 블로그 글 텍스트에서 행이 바뀌면 문단으로 변환하도록 하라는 의미입니다.
  행바뀜을 문단으로 변환하는 필터를 적용한다는 표현을 쓰기도 합니다.
-->
        </div>
    {% endfor %}
{% endblock %}
