{% extends 'blog/base.html' %}
    <!--
    •먼저 폼이 보여야 합니다. 그 예로,  '{'{ form.as_p '}'} 로 간단히 만들 수 있어요….
    •위 코드를 HTML 태그로 폼을 감싸세요.  <form method="POST">...</form>
    •Save  버튼이 필요합니다. 이것은 HTML 버튼으로 만들 수 있어요:  <button type="submit">Save</button>
    •마지막으로  <form ...> 을 열어  '{'% csrf_token '%'} 를 추가하세요.
     이 작업은 폼 보안을 위해 중요하답니다! 이 작업을 빼먹고 저장하면 에러메시지남
    -->
    {% block content %}
        <h1>New post</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    {% endblock %}
